::-webkit-scrollbar {
    width: 2px;
    ;
}

::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
}

#mediaSessionAreaContainer.disable>#mediaSessionArea {
    top: -100px;
    width: 0%;
}

#mediaSessionArea {
    color: var(--foreground);
    background-color: var(--background);
    height: 100px;
    width: 100%;
    top: 0px;
    left: 50%;
    border-radius: 15px;
    transform: translateX(-50%);
    transition-delay: 0.2s;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    transition: 0.5s;
}

#mediaSessionArea #session {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    scroll-snap-align: start;
}

#mediaSessionArea #session:first-child {
    margin-top: 100px;
}

#mediaSessionArea #session:last-child {
    margin-bottom: 100px;
}

#mediaSessionArea #albumArt {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

#mediaSessionArea #header {
    display: block;
    width: calc(100% - 100px);
    height: 40px;
    position: absolute;
    right: 0;
    top: 10px;
}

#artist {
    font-size: small;
}

#title {
    font-size: smaller
}

#mediaSessionArea #controls {
    width: calc(100% - 110px);
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 15px;
    padding-bottom: 0;
    justify-content: space-around;
}

#pause svg,
#play svg {
    width: 25px;
    height: 25px;
}

#previous svg,
#next svg {
    width: 20px;
    height: 20px;
}

#mediaSessionArea svg path {
    fill: var(--foreground);
}