#notification-container {
    width: 420px;
    height: 200px;
}

#notification-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#notification-icon {
    width: 60px;
    margin-right: 20px;
}

#notification-title {}