* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0px;
    min-width: 0px;
    user-select: none;
}

html {
    --bubble-color: rgb(255, 153, 0);
    overflow: hidden;
    background-color: rgba(0, 128, 0, 0.267);
}

body {
    min-width: inherit;
    min-height: inherit;
    display: flex;
    justify-content: space-between;
}

#bubble {
    height: 60px;
    width: 60px;
    background-color: var(--bubble-color);
    padding: 10px;
    border-radius: 50%;
}

#bubble-icon {
    height: 100%;
    width: 100%;
}